<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/create.css}">
    <title>Book Tid</title>
</head>
<body>
<header class="header" onclick="window.location.href = 'home.html';">
    <img th:src="@{img/RRClogo.png}">
</header>
<main>
    <img th:src="@{img/RoskildeRacing.png}">
    <form>
        <div class="form-element"> <label for="name">Fulde navn:</label> <input id="name" type="text" required></div>
        <div class="form-element"> <label for="company">Firma navn:</label> <input id="company" type="text"></div>
        <div class="form-element"> <label for="email">E-mail:</label> <input id="email" type="email" required></div>
        <div class="form-element"> <label for="phone-number">Telefonnummer:</label> <input id="phone-number" type="tel" pattern="[0-9]{8}" required></div>
        <div class="form-element"> <label for="date">Dato:</label> <input id="date" type="date" required></div>
        <div class="form-element"> <label for="time">Tid:</label> <input id="time" type="time" required></div>
        <div class="form-element"> <label for="people">PAX:</label> <input id="people" type="number" min="1" required></div>
        <div class="form-element"> <label for="time-length">Varighed:</label> <input id="time-length"  type="number" min="30" step="30" required>
                        <input type="text" id="time-length2" value="Min" readonly></div>
        <div class="form-element"></div> <label for="comment">Kommentar:</label><textarea id="comment"></textarea>

        <div class="form-element"> <input id="submit" type="submit" value="Opret Booking"></div>
    </form>
</main>
<footer class="footer">
    <p class="company-info">Tlf: +45 70 25 00 86 &emsp; | &emsp; E-mail: info@roskilderacingcenter.dk</p>
</footer>
</body>
</html>
