<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/read.css}">
    <title>Se Booking</title>
</head>
<body>
<header class="header" onclick="window.location.href = 'home.html';">
    <img th:src="@{img/RRClogo.png}">
</header>
<div class="hero">
<div class="table">
    <div class="table-cell" id="time">
        <h2>Torsdag 21 November</h2>
    </div>
    <div class="table-cell" id="workers">
        <h3>Dagens Medarbejder: &emsp;Nicolaj,&nbsp; Maria,&nbsp; Karl,&nbsp; Sofie</h3>
    </div>
    <div class="table-cell" id="events">
        <div id="time-date" class="events-element">
            <br>
            <p>	14:00	</p><p>	14:30	</p>
            <p>	15:00	</p><p>	15:30	</p>
            <p>	16:00	</p><p>	16:30	</p>
            <p>	17:00	</p><p>	17:30	</p>
            <p>	18:00	</p><p>	18:30	</p>
            <p>	19:00	</p><p>	19:30	</p>
            <p>	20:00	</p>
        </div>
        <div id="event" class="events-element">
            <br>
            <p>Nadia&emsp; 34356754 &emsp;4pax &emsp;&emsp;&emsp;&emsp;
                Christian&emsp; 21234389 &emsp;2pax</p>
            <p>Camille&emsp; 60543131&emsp; 8pax &emsp;&emsp;&emsp;&emsp;
                Søren&emsp; 89894076&emsp; 3pax</p>
            <br>
            <p>Emile&emsp; 60543131&emsp; 4pax &emsp;&emsp;&emsp;&emsp;
                Astrid&emsp; 89894076&emsp; 9pax</p>
            <br>
            <br>
            <br>
            <p>Frederik&emsp; 60543131&emsp; 6pax &emsp;&emsp;&emsp;&emsp;
                Martin&emsp; 89894076&emsp; 4pax &emsp;&emsp;&emsp;&emsp;
                Erik&emsp; 89094346&emsp; 12pax</p>
        </div>
        <div id="total-people" class="events-element">
            <br>
            <p>total: 6pax</p>
            <p>total: 11pax</p>
            <br>
            <p>total: 13pax</p>
            <br>
            <br>
            <br>
            <p>total: 22pax</p>
        </div>
        <div id="comments" class="events-element">
           <p>Eventuelle kommentar:</p>
        </div>
    </div>
</div>
</div>
<footer class="footer">
    <p class="company-info">Tlf: +45 70 25 00 86 &emsp; | &emsp; E-mail: info@roskilderacingcenter.dk</p>
</footer>
</body>
</html>
